<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="video-bg">
      <video src="/public/video/v1.mp4" muted autoplay></video>
    </section>
    <section class="company-info">
      <div class="title center">
        <h2 class="cn">公司简介</h2>
        <h3 class="en">About Us</h3>
      </div>
      <div class="note center">
        深圳市星源安全科技有限公司，位于深圳，创立于2005年，是一家专业的防护工作服制造商和出口商，有超过二十年的经验。 自20世纪初公司成立以来，“注重安全工作”一直是我们工作的动力。 有了这一理念，我们不断学习，设计和生产耐用和安全的防护服，如阻燃抗静电工作服，防电弧安全服，飞行员飞行服，消防服和各种其他安全制服。 公司经过不断发展与完善，陆续取得ISO系列，劳动安全标志，CE欧盟认证，NFPA，EN11612，EN1149，ISO4920；EN469和20项生产专利等。 基于这些认证，我们的产品受到客户的广泛欢迎，并用于石油天然气勘探、煤矿开采、交通控制、海运、空中飞行、消防机构等公司。由于我们给用户带来的优质安全防护，我们的大多数客户已经与我们合作超过10年。 现在，我们欢迎每一位需要工作服和制服的朋友前来咨询和报价，无论您是PPE品牌、分销商、零售商或最终用户，您一定会得到一个有竞争力的价格，正确的样品，优质的产品，如您所期望的，我们愿意与你们每一个人一起成长。                        安全是我们一直关注的工作
      </div>
    </section>
    <section class="cont2">
      <div class="cont2-box center">
        <div class="left-info">
          <ul class="cont2-list">
            <li class="cont2-item">
              <div class="num">
                <span>10</span>
                <span>+</span>
              </div>
              <p>行业经验</p>
            </li>
            <li class="cont2-item">
              <div class="num">
                <span>106</span>
                <span>+</span>
              </div>
              <p>品质认证</p>
            </li>
            <li class="cont2-item">
              <div class="num">
                <span>212</span>
                <span>+</span>
              </div>
              <p>项目服务</p>
            </li>
            <li class="cont2-item">
              <div class="num">
                <span>289</span>
                <span>+</span>
              </div>
              <p>成功案例</p>
            </li>
            <li class="cont2-item">
              <div class="num">
                <span>100</span>
                <span>+</span>
              </div>
              <p>专业团队</p>
            </li>
            <li class="cont2-item">
              <div class="num">
                <span>99</span>
                <span>%</span>
              </div>
              <p>客户好评</p>
            </li>
          </ul>
        </div>
        <div class="right-img">
          <img src="/public/img/company-team.webp" alt="">
        </div>
      </div>
    </section>
    <section class="company-adv">
      <div class="title-module">
        <h2 class="cn">企业优势</h2>
        <h3 class="en">ADVANTAGE</h3>
      </div>
      <ul class="adv-list center">
        <li class="adv-item">
          <div class="img">
            <img src="/public/img/adv01.webp" alt="品质保证">
          </div>
          <div class="title">品质保证</div>
          <p>以优质的质量，获得客户好评</p>
        </li>
        <li class="adv-item">
          <div class="img">
            <img src="/public/img/adv01.webp" alt="品质保证">
          </div>
          <div class="title">品质保证</div>
          <p>以优质的质量，获得客户好评</p>
        </li>
        <li class="adv-item">
          <div class="img">
            <img src="/public/img/adv01.webp" alt="品质保证">
          </div>
          <div class="title">品质保证</div>
          <p>以优质的质量，获得客户好评</p>
        </li>
        <li class="adv-item">
          <div class="img">
            <img src="/public/img/adv01.webp" alt="品质保证">
          </div>
          <div class="title">品质保证</div>
          <p>以优质的质量，获得客户好评</p>
        </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
