<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/message-banner.jpg" alt="">
    </section>
    <section class="message">
      <form action="" class="center">
        <label for="" class="text">
          <span>姓名<i>*</i></span>
          <input type="text" placeholder="请输入姓名">
        </label>
        <label for="" class="text">
          <span>邮箱</span>
          <input type="text" placeholder="请输入邮箱">
        </label>
        <label for="" class="text">
          <span>电话</span>
          <input type="text" placeholder="请输入电话">
        </label>
        <label for="" class="textarea">
          <span>内容</span>
          <textarea placeholder="请输入内容"></textarea>
        </label>
        <button type="submit">提交留言</button>
      </form>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
