<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/message-banner.jpg" alt="">
    </section>
    <section class="main-info">
      <div class="center">
        <div class="contact">
          <h2>联系方式</h2>
          <div class="note">
            <p>联系QQ：513188660</p>
            <p>联系电话：0755-26491970</p>
            <p>联系手机：13620916112</p>
            <p>联系邮箱：tony@gdxyfz.net</p>
            <p>联系地址：</p>
            <p>深圳: 深圳市宝安区西乡街道乐群社区共和工业路29号厂房3层</p>
            <p>东莞: 东莞市常平环常北路8号</p>
          </div>
        </div>
        <form action="">
          <label for="" class="text">
            <span>姓名<i>*</i></span>
            <input type="text" placeholder="请输入姓名">
          </label>
          <label for="" class="text">
            <span>邮箱</span>
            <input type="text" placeholder="请输入邮箱">
          </label>
          <label for="" class="text">
            <span>电话</span>
            <input type="text" placeholder="请输入电话">
          </label>
          <label for="" class="textarea">
            <span>内容</span>
            <textarea placeholder="请输入内容"></textarea>
          </label>
          <button type="submit">提交留言</button>
        </form>
      </div>
    </section>
    <section id="map" class="center">
      <img src="/public/img/map.png" alt="" style="width: 100%;height:100%">
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
