<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="banner">
      <img src="/public/img/banner.jpg" alt="">
    </section>
    <section class="pro-head">
      <div class="center">
        <div class="left-img">
          <div id="img">
            <img src="/public/img/pro_item01.jpg" alt="">
          </div>
          <div class="pics swiper-container">
            <ul class="pics-list swiper-wrapper">
              <li class="pics-item swiper-slide active">
                <img src="/public/img/pro_item01.jpg" alt="">
              </li>
              <li class="pics-item swiper-slide">
                <img src="/public/img/pro_item02.jpg" alt="">
              </li>
              <li class="pics-item swiper-slide">
                <img src="/public/img/pro_item03.jpg" alt="">
              </li>
              <li class="pics-item swiper-slide">
                <img src="/public/img/pro_item02.jpg" alt="">
              </li>
              <li class="pics-item swiper-slide">
                <img src="/public/img/pro_item03.jpg" alt="">
              </li>
            </ul>
          </div>
          <div class="next_prev">
            <a href="/product_view.html" class="no">上一个</a>
            <a href="/product_view.html">下一个</a>
          </div>
        </div>
        <div class="right-text">
          <h1 class="title">阻燃连体服</h1>
          <a href="tel://13800000000" class="btn">
          <i class="iconfont icon-tel"></i>
          13800000000
        </a>
        <div class="note">
          这里是产品的简介内容，这里是产品的简介内容，这里是产品的简介内容<br>
          这里是产品的简介内容，这里是产品的简介内容，这里是产品的简介内容<br>
          这里是产品的简介内容，这里是产品的简介内容，这里是产品的简介内容<br>
          这里是产品的简介内容，这里是产品的简介内容，这里是产品的简介内容<br>
        </div>
        </div>
      </div>
    </section>
    <section class="pro-details center">
      <div class="details-title">
        <span>产品详情</span>
      </div>
      <div class="details-cont">
        <img src="/public/img/cont1.jpg" style="margin:0 auto" alt="">
        <img src="/public/img/cont2.jpg" style="margin:0 auto" alt="">
        <img src="/public/img/cont3.jpg" style="margin:0 auto" alt="">
        <img src="/public/img/cont4.jpg" style="margin:0 auto" alt="">
      </div>
    </section>
    <a href="tel://13800000000" class="fixed-btn">马上咨询</a>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
