<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banners">
      <div class="swiper-container swiper-banners">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/public/img/banner.jpg" alt="">
          </div>
        </div>
        <div class="banners-prev swiper-button-prev"></div>
        <div class="banners-next swiper-button-next"></div>
      </div>
    </section>
    <section class="company">
      <div class="center info clearF">
        <div class="left fl">
          <div class="title">星源简介</div>
          <div class="br"></div>
          <div class="note">
            ---- 你的安全是我们一直关注的工作
          </div>
          <div class="content">
            <p>
              深圳市星源安全科技有限公司专业研发、销售、生产特种防护服装
              。主要味国内外石油、化工、燃气工业气体、电力、冶炼、消防、机械制造、航空；等各行业提供专业的防护服装及配套用品。公司经过不断发展与完善，陆续取得爱so9001与爱so14001管理体系认证证书、欧盟ce认证、LA特种劳防用品安全标志、3C产品认证;20项生产专利及各个产品测试报告。我们是一支年轻、富有激情、勇于创新的团队,通过二十多年的发展，现已正在并列国家高新技术企业
              ，在工作服、制服领域内树立了良好的口碑。目前，随着产品不断推向市场，促使企业不断发展壮大，现凭借着产品的质量与服务优势以及这几年的出口经验我们赢得了广大客户的赞誉！
            </p>
          </div>
        </div>
        <div class="right fl">
          <div class="bg"></div>
          <div class="video-box">
            <div class="img">
              <img src="/public/img/video-bg.jpg" alt="">
            </div>
            <div class="player"></div>
          </div>
          <div class="video-popup">
            <div class="video-popup-box">
              <div class="player"></div>
              <div class="close"></div>
              <video src="/public/video/v1.mp4"
               poster="/public/img/video-bg.jpg"
               id="home-video"
                controls></video>
            </div>
          <div class="mask"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-classify">
      <h2 class="title">产品分类</h2>
      <div class="product-classify-list clearF center">
        <div class="left product-classify-item fl">
          <div class="img" style="background-image: url(/public/img/product-classify01.webp);"></div>
        </div>
        <ul class="right fl clearF">
          <li class="product-classify-item fl">
            <div class="img" style="background-image: url(/public/img/product-classify02.webp);"></div>
          </li>
          <li class="product-classify-item fl">
            <div class="img" style="background-image: url(/public/img/product-classify02.webp);"></div>
          </li>
          <li class="product-classify-item fl">
            <div class="img" style="background-image: url(/public/img/product-classify02.webp);"></div>
          </li>
          <li class="product-classify-item fl">
            <div class="img" style="background-image: url(/public/img/product-classify02.webp);"></div>
          </li>
        </ul>

      </div>
      <h3 class="title">
        <span class="color">实拍场景</span>
        <span>案例展示</span>
      </h3>
      <div class="case-show swiper-container center">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <img src="/public/img/case01.webp" alt="">
          </li>
          <li class="swiper-slide">
            <img src="/public/img/case01.webp" alt="">
          </li>
        </ul>
        <div class="case-show-prev swiper-button-prev"></div>
        <div class="case-show-next swiper-button-next"></div>
      </div>
      <div class="company-adv" style="background-image: url(/public/img/adv-bg.jpg);">
        <h3 class="title">
          <span class="color">企业优势</span>
        </h3>
        <div class="note">
          严格的质量把控体系，始终坚持不合格的产品坚决不出厂，我们将以前瞻性视野、高端定位打造高品质PPE个人防护服装。专注特种防护安全服装的生产与研发。一体式服务
        </div>
      </div>
    </section>
    <section class="product">
      <h3 class="title center">案例产品展示</h3>
      <ul class="pro-list center">
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>
        <li class="pro-item">
          <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro01.jpg);"></div>
            <div class="text">40cal 防电弧服</div>
          </a>
        </li>

      </ul>
    </section>
    <section class="partner">
      <h3 class="title center">合作伙伴</h3>
      <ul class="partner-list center">
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner1.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner2.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner3.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner4.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner5.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner6.jpg);"></div>
        </li>
        <li class="partner-item">
          <div class="img" style="background-image: url(/public/img/partner7.jpg);"></div>
        </li>

      </ul>
    </section>
    <section class="news">
      <h3 class="title center">新闻动态</h3>
      <ul class="news-list center">
        <li class="news-item">
          <a href="news_view.html">
            <div class="img" style="background-image: url(/public/img/noimage.jpg);"></div>
            <div class="text">
              <h4 class="title">住建部接管消防的两个信号</h4>
              <div class="date">2019-03-20</div>
              <div class="note">
                这份文件的第7点：加强房屋使用安全管理。指导房屋产权人和管理单位加强对房屋公共通道、公共活动场所、地下室等重点部位...
              </div>
            </div>
            <div class="next-btn"></div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img" style="background-image: url(/public/img/noimage.jpg);"></div>
            <div class="text">
              <h4 class="title">住建部接管消防的两个信号住建部接管消防的两个信号住建部接管消防的两个信号</h4>
              <div class="date">2019-03-20</div>
              <div class="note">
                这份文件的第7点：加强房屋使用安全管理。指导房屋产权人和管理单位加强对房屋公共通道、公共活动场所、地下室等重点部位...
              </div>
            </div>
            <div class="next-btn"></div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img" style="background-image: url(/public/img/noimage.jpg);"></div>
            <div class="text">
              <h4 class="title">住建部接管消防的两个信号</h4>
              <div class="date">2019-03-20</div>
              <div class="note">
                这份文件的第7点：加强房屋使用安全管理。指导房屋产权人和管理单位加强对房屋公共通道、公共活动场所、地下室等重点部位...
              </div>
            </div>
            <div class="next-btn"></div>
          </a>
        </li>
        <li class="news-item">
          <a href="news_view.html">
            <div class="img" style="background-image: url(/public/img/noimage.jpg);"></div>
            <div class="text">
              <h4 class="title">住建部接管消防的两个信号</h4>
              <div class="date">2019-03-20</div>
              <div class="note">
                这份文件的第7点：加强房屋使用安全管理。指导房屋产权人和管理单位加强对房屋公共通道、公共活动场所、地下室等重点部位...
              </div>
            </div>
            <div class="next-btn"></div>
          </a>
        </li>
      </ul>
    </section>
    <section class="message">
      <form action="" class="center">
        <label for="" class="text">
          <span>姓名<i>*</i></span>
          <input type="text" placeholder="请输入姓名">
        </label>
        <label for="" class="text">
          <span>邮箱</span>
          <input type="text" placeholder="请输入邮箱">
        </label>
        <label for="" class="text">
          <span>电话</span>
          <input type="text" placeholder="请输入电话">
        </label>
        <label for="" class="textarea">
          <span>内容</span>
          <textarea placeholder="请输入内容"></textarea>
        </label>
        <button type="submit">提交留言</button>
      </form>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
</body>

</html>