<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 引入公共页头 -->
    <%= require("html-loader!../common/header/index.html") %>
    <section class="product">
      <div class="title">
        <h2 class="cn">相关产品展示</h2>
        <h3 class="en">PRODUCTS</h3>
      </div>
      <ul class="product-list center">
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
          <li class="product-item">
            <a href="/product_view.html">
            <div class="img" style="background-image: url(/public/img/pro_item01.jpg);"></div>
            <p>阻燃连体服</p>
          </a>
          </li>
      </ul>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <%= require("html-loader!../common/aside/index.html") %>
  </body>
</html>
